body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#setup-view {
    margin: 0.5em;
}

div#game-view {
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

svg#play-area {
    background: white;
    flex: 1 1 auto;
}

div#history-area {
    display: flex;
}

span#history-buttons {
    vertical-align: bottom;
    font-size: 20pt;
    flex: 0 0 auto;
}

span#history-buttons button {
    font-size: 20pt;
    /* workaround for vertical scrollbar that appears without this */
    overflow: hidden;
    background-color: #f0f0f0;
}

span#history-buttons button.disabled {
    background-color: #a0a0a0;
}

span#history-moves {
    padding: 0.25em;
    font-size: 18pt;
    font-family: monospace;
    overflow: scroll;
    flex: 1 1 auto;
}
